{% extends 'todoapp/base.html' %} {% block content %}
<div class="header">
  <h1>{{request.user}}のタスク</h1>
</div>

<div class="search-wrapper">
  <form method="GET">
    <input type="text" name="search" value="{{search}}" class="search-input"/>
    <input type="submit" value="検索" class="search-button" />
  </form>
  <a href="{% url 'create-task' %}" class="add-button">+</a>
</div>

<div class="tasks-wrapper">
  {% for task in tasks %}
  <div class="task-wrapper">
    {% if task.completed %}
    <div class="task-title">
      <div class="task-completed-icon"></div>
      <s><a href="{% url 'task' task.id %}">{{task}}</a></s>
    </div>
    <div>
      <a href="{% url 'edit-task' task.id %}" class="edit-icon">&#9999;</a>
      <a href="{% url 'delete-task' task.id %}" class="delete-icon">&#128465</a>
    </div>
      {% else %}
    <div class="task-title">
      <div class="task-incompleted-icon"></div>
      <a href="{% url 'task' task.id %}">{{task}}</a>
    </div>
    <div>
      <a href="{% url 'edit-task' task.id %}" class="edit-icon">&#9999;</a>
      <a href="{% url 'delete-task' task.id %}" class="delete-icon">&#128465</a>
    </div>
    {% endif %}
  </div>
  {% endfor %}
</div>

<div class="login-and-logout">
  {% if request.user.is_authenticated %}
  {% comment %} <p>{{request.user}}</p> {% endcomment %}
  <a href="{% url 'logout' %}">ログアウト</a>
  {% else %}
  <a href="{% url 'login' %}">ログイン</a>
  {% endif %}
</div>
{% endblock content %}