body {
  background-color: #bfdaeb;
  font-family: 'Spectral SC', serif;
  padding-top: 55px;
}

.todo-app-wrapper {
  max-width: 530px;
  margin: 0 auto;
  background-color: white;
  box-shadow: 0px 12px 18px -7px #777777;
  border-radius: 10px;
}

a {
  color: #595959;
  text-decoration: none;
}

h1 {
  margin: 0;
}

.header {
  text-align: center;
  padding: 20px 0;
  background: rgb(2,0,36);
  background: linear-gradient(117deg, rgba(2,0,36,1) 0%, rgba(9,9,121,0.9095127610208816) 33%, rgba(0,212,255,1) 86%);
  border-radius: 10px 10px 0 0;
  color: white;
}

.task-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px;
  border-top: 1px solid #4646466a;
}

.task-title {
  display: flex;
  align-items: center;
}

.task-completed-icon {
  height: 20px;
  width: 20px;
  background-color: lightgreen;
  border-radius: 50%;
  margin-right: 10px;
}

.task-incompleted-icon {
  height: 20px;
  width: 20px;
  background-color: lightcoral;
  border-radius: 50%;
  margin-right: 10px;
}

.login-and-logout {
  padding: 20px;
}

.login-and-logout a {
  color: #595959;
}

.edit-button {
  color: rgb(66, 123, 66);
}

.delete-button {
  color: red;
}